*.mp4 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.cubemap filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.controller filter=lfs diff=lfs merge=lfs -text
*.mixer filter=lfs diff=lfs merge=lfs -text
*.playable filter=lfs diff=lfs merge=lfs -text
*.mask filter=lfs diff=lfs merge=lfs -text
*.overrideController filter=lfs diff=lfs merge=lfs -text
*.physicMaterial filter=lfs diff=lfs merge=lfs -text
*.physicsMaterial2D filter=lfs diff=lfs merge=lfs -text
*.flare filter=lfs diff=lfs merge=lfs -text
*.fontsettings filter=lfs diff=lfs merge=lfs -text
*.guiskin filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.shader filter=lfs diff=lfs merge=lfs -text
*.shadergraph filter=lfs diff=lfs merge=lfs -text
*.shadersubgraph filter=lfs diff=lfs merge=lfs -text
*.shadervariants filter=lfs diff=lfs merge=lfs -text
*.compute filter=lfs diff=lfs merge=lfs -text
*.hlsl filter=lfs diff=lfs merge=lfs -text
*.glsl filter=lfs diff=lfs merge=lfs -text
*.glslinc filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.shadertemplate filter=lfs diff=lfs merge=lfs -text
*.shadertemplate2 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate3 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate4 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate5 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate6 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate7 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate8 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate9 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate10 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate11 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate12 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate13 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate14 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate15 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate16 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate17 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate18 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate19 filter=lfs merge=lfs -text
*.shadertemplate20 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate21 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate22 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate23 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate24 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate25 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate26 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate27 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate28 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate29 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate30 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate31 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate32 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate33 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate34 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate35 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate36 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate37 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate38 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate39 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate40 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate41 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate42 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate43 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate44 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate45 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate46 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate47 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate48 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate49 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate50 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate51 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate52 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate53 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate54 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate55 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate56 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate57 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate58 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate59 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate60 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate61 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate62 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate63 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate64 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate65 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate66 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate67 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate68 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate69 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate70 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate71 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate72 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate73 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate74 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate75 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate76 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate77 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate78 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate79 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate80 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate81 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate82 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate83 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate84 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate85 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate86 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate87 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate88 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate89 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate90 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate91 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate92 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate93 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate94 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate95 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate96 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate97 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate98 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate99 filter=lfs diff=lfs merge=lfs -text
*.shadertemplate100 filter=lfs diff=lfs merge=lfs -text 
